{% extends 'main.html' %}

{% block content %}

    {% if page == 'login' %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Username: </label>
            <input type="text" name="username" placeholder="Enter Username...">

            <label for="">Password: </label>
            <input type="password" name="password" placeholder="Enter Password...">

            <input type="submit" values="Login">
        </form>
        <p>Haven't Signed Up Yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </div>

    {% else %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" values="Register">
        </form>
        <p>already Signed Up Yet?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>

    {% endif %}
{% endblock content %}